//Variables for surface
$surface_color_text: #000;

//Variables for console
$console_color_text: #fbf2eb;
$console_color_button-acceleration: #cc0000;
$console_color_button-reverse: #000099;

//Variables for meters
$meters_color_text: #fbf2eb;


